/* ==========================================================================
   Responsive Table Styles
========================================================================== */

@media screen and (max-width: 48em) {
	table {
	    border: none;
	    display: block;
	    font-size: 0.75em;
	    width: 100%;
	}

    thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1em;
    }

    tr:nth-child(odd) {
        background: #cecece;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding: 1em 0;
        padding-left: 50%;
    }

   	td:before {
    	content: attr(data-label);
        padding: 1em 0 1em 1em;
        /* Now like a table header */
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
        white-space: nowrap;
    }
}